<div class="albums-container">
  <ul id="sortable" class="list-unstyled albums">
    <li class="album">
      <img src="<%= image_url('albums-placeholders-add.png') %>" width="100%">
      <div class="top-function functions">
        <a href="/search/1"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="<%= image_url('albums-placeholders-order-1.png') %>" width="100%">
      <div class="top-function functions">
        <a href="/search/2"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="<%= image_url('albums-placeholders-remove.png') %>" width="100%">
      <div class="top-function functions">
        <a href="/search/3"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="<%= image_url('albums-placeholders-order-2.png') %>" width="100%">
      <div class="top-function functions">
        <a href="/search/4"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="<%= image_url('albums-placeholders-save.png') %>" width="100%">
      <div class="top-function functions">
        <a href="/search/5"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
  </ul>
        <span class="positions">
          <i>1</i>
          <i>2</i>
          <i>3</i>
          <i>4</i>
          <i>5</i>
        </span>
  <a href="#" class="action">SAVE</a>
</div>