<div class="albums-container">
    <ul id="sortable" class="list-unstyled albums">
    <% 1.upto 5 do |i| %>
        <%= render 'album', :pos => i %>
    <% end  %>
    </ul>
    <span class="album-positions">
      <i>1</i>
      <i>2</i>
      <i>3</i>
      <i>4</i>
      <i>5</i>
    </span>
</div>

<% if Rails.env.development? %>
<table class="table table-bordered">
  <tr>
    <th>Position</th>
    <th>ID</th>
    <th>Name</th>
    <th>Artist</th>
    <th></th>
  </tr>

  <% @album_collection.albums.each do |album| %>
      <tr>
        <td><%= album.position %></td>
        <td><%= album.id %></td>
        <td><%= album.name %></td>
        <td><%= album.artist %></td>
        <td><%= image_tag(album.image, width: '100px') %></td>
      </tr>
  <% end %>
</table>
<% end %>
