<%= form_for(@album_collection) do |f| %>
  <% if @album_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album_collection.errors.count, "error") %> prohibited this album_collection from being saved:</h2>

      <ul>
      <% @album_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

    <%= f.label :albums, class: "sr-only" %>
    <%= f.text_field :albums, class: "form-control", placeholder: "Albums" %>

    <%= f.submit "Add", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
