<% @albums.each do |album| %>
    <div class="media text-left link-block search-result" title="<%= album.name %>">
      <div class="media-left">
        <%= image_tag(album.icon, alt: 'Album cover for ' + album.name, style: 'width: 100px') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= album.name %></h4>
        <p><%= album.artist %></p>
        <% if params['p'] %>
            <p class="action">
                <% album_link = '/your_top_5/position/' + params['p'] + '/album/' + album['key'] + '/' %>
                <%= link_to album_link, :class => 'btn btn-primary btn-sm', :method => :put do %>
                    Add this album <i class="glyphicon glyphicon-plus-sign"></i>
                <% end %>
            </p>
        <% else %>
            <ul class="list-inline position-links">
              <li>Add to: </li>
              <%
                1.upto 5 do |i|
                album_link = '/your_top_5/position/' + i.to_s + '/album/' + album['key'] + '/'
              %>
                  <li>
                    <%= link_to(i, album_link, class: 'btn btn-primary btn-sm', method: :put) %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
    <hr>
<% end %>