<%= form_for @user, :html => {:class => "form-register text-center"} do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-body">
            <h5 class="text-danger"><%= pluralize(@user.errors.count, "error") %> prevented you from creating an account.</h5>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email, class: "form-control", placeholder: "Email", type: "email" %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
<% end %>