<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, value: params[:n], type: 'hidden' %>
    <%= f.text_field :band, value: params[:a], type: 'hidden' %>
    <%= f.text_field :image, value: params[:i], type: 'hidden' %>
    <%= f.number_field :position, value: params[:p], type: 'hidden' %>
    <%= f.submit "Add to Top 5", class: "btn btn-lg btn-primary" %>

<% end %>
