<% rdio_connect(rdio_album).each do |result| %>
    <%
       position = ''
       if params['p']
         position = '/' + params['p']
       end
    %>
    <div class="media text-left link-block search-result" title="<%= result.name %>">
      <div class="media-left">
        <%= image_tag(result.icon, alt: 'Album cover for ' + result.name, style: 'width: 100px') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= result.name %></h4>
        <p><%= result.artist %></p>
        <% if params['p'] %>
            <p class="action">
              <a href="/albums/new<%= position %>/<%= result['key'] %>" class="btn btn-primary btn-sm">Add this album <i class="glyphicon glyphicon-plus-sign"></i></a>
            </p>
        <% else %>
            <ul class="list-inline position-links">
              <li>Add to: </li>
              <% 1.upto 5 do |i| %>
                  <li><a href="/albums/new/<%= i %>/<%= result['key'] %>" class="btn btn-primary btn-sm"><%= i %></a></li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
    <hr>
<% end %>