<%
   results = rdio_get_album(params['k'])
   params['a'] = results.artist
   params['n'] = results.name
   params['i'] = results.icon
%>

<div class="container">

  <div class="col-sm-8 col-sm-offset-2">
    <div class="col-sm-5 text-center">
      <p><%= image_tag(results.icon) %></p>
    </div>
    <div class="col-sm-7">
      <h4><%= results.name %></h4>

      <p><strong>Artist:</strong> <%= results.artist %></p>

      <p><strong>Release date:</strong> <%= results.releaseDate %></p>

      <p><strong>Tracks:</strong> <%= results.length %> tracks (views not available)</p>

      <p><a href="">Add this to position <%= params['p'] %></a></p>

    </div>
  </div>

  <div class="box">
    <div class="single-column text-center">

      <h1>New album</h1>

      <%= render 'form' %>

      <%= link_to 'Back', albums_path %>

    </div>
  </div>
</div>
